body {
    background: linear-gradient(0deg, black, rgba(62, 128, 234, 0.992));
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: block;
    text-align: center;
}

#logo-image {
    width: 120px;
    height: 120px;
    margin: 15px 0 0 0;
    border-radius: 10px;
}

#htitle {
    color: orange;
    font-family: 'Source-Sans-3', cursive;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1px 0 1px 0;
}

.hdescription {
    color: #fafafa;
}

#game {
    background-color: #B8B8B8;
    box-sizing: border-box;
    width: 50vw;
    max-height: 550px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    opacity: 0.7;
    border-radius: 10px;
    display: block;
}

/*Timer */

.fa-solid {
    font-weight: 100;
    font-size: 1em;
}

/*Play with Me button */

.blue-btn {
    background-color: #ecebeb;
    color: #000000;
    border-radius: 2px;
    border: 2px solid #000000;
    margin-bottom: 40px;
    padding: 4px 6px;
    width: 130px;
    margin: 20px 20px 20px 20px;
    padding: 4px 6px;
    width: 130px;
}