body {
    background:
        linear-gradient(0deg, rgb(238, 231, 231), rgba(62, 128, 234, 0.992));
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
}

#logo-image {
    width: 120px;
    height: 120px;
    margin: 15px 0 0 0;
    border-radius: 10px;
}

#htitle {
    color: #f5f5f5;
    font-family: 'Source-Sans-3', cursive;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1px 0 1px 0;
}

.hdescription {
    color: #fafafa;
}

#game {
    background-color: #F6D064;
    box-sizing: border-box;
    width: 50vw;
    max-height: 550px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    border-radius: 10px;
    display: none;
}

/*Timer */

.fa-solid {
    font-weight: 100 !important;
    font-size: 1em;
}

/*Play with Me button */

.blue-btn {
    background-color: #ecebeb;
    color: #000000;
    border-radius: 3px;
    border: 2px solid #000000;
    margin-bottom: 40px;
    padding: 4px 6px;
    width: 130px;
    margin: 20px 20px 20px 20px;
    width: 130px;
}

/*Start and Reset button*/
.btn--big {
    background-color: #3f8abf;
    color: #ecebeb;
    font-size: 1.5em;
    border-radius: 10px;
    border: 1px solid #fcfcfc;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 4px 6px;
    width: 100px;
    height: 50px;
    margin: 25px 10px 10px 70px;

}

/*Input field */

#user {
    width: 160px;
    height: 20px;
    margin: 10px auto auto auto;
    border: 2px solid #000000;
    border-radius: 3px;
}

/*Answer buttons*/
#btn1,
#btn2 {
    margin: 20px 20px 0 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3f8abf;
    border: 2px solid #c1dbed;
    font-size: 40px;

}

.question-area {
    margin-top: 20px;
}

/*Operation numbers style*/

#operation {
    font-size: 250%;
    font-weight: 400;
    padding: 5px 10px;
    color: #00202e;
    font-family: 'Sans-Source-3', sans-serif;
}

/*Game area text*/

#mtext,
#game-text {
    margin-top: 10px;
    font-size: 160%;
    font-weight: 400;
    color: #30383E;
    font-family: 'Source-Sans-3', cursive;
}

/*Info button in gane area*/

#rules-btn {
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 30px;
    border: none;
    background-color: #F6D064;
    color: red;
    float: right;
}